<!DOCTYPE html>
<html lang="{{ output.get_lang() }}">
<head>
    {{{ output.standard_head_html }}}
</head>
<body {{{ bodyattributes }}} class="bg-white p-6">

    <main class="max-w-4xl mx-auto">
        {{{ maincontent }}}
    </main>

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
