<!DOCTYPE html>
<html lang="{{ output.get_lang() }}">
<head>
    {{{ output.standard_head_html }}}
</head>
<body {{{ bodyattributes }}} class="flex items-center justify-center min-h-screen bg-gray-50">

    <main class="text-center">
        {{{ maincontent }}}
    </main>

    {{{ output.standard_end_of_body_html }}}
</body>
</html>
