{{< theme_adorsys_theme_v1/partials_footer }}
    {{$footer_content}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-muted">Custom Footer for Adorsys Theme V2</p>
                </div>
            </div>
        </div>
    {{/footer_content}}
{{/ theme_adorsys_theme_v1/partials_footer }}