{{< theme_adorsys_theme_v1/partials_sideblocks }}
    {{$sideblocks_content}}
        <div class="d-flex flex-column">
            {{{ sidepre_blocks }}}
        </div>
    {{/sideblocks_content}}
{{/ theme_adorsys_theme_v1/partials_sideblocks }}