
{{> theme_adorsys_theme_v1/head }}

<body {{{ bodyattributes }}} class="bg-gray-50 flex items-center justify-center min-h-screen">

    <div id="page-wrapper" class="w-full h-full flex items-center justify-center">
        <div id="page" class="container-fluid p-4 flex items-center justify-center">
            <div id="page-content" class="row justify-center w-full">
                <div id="region-main-box" class="col-12 md:col-8 lg:col-6 xl:col-4">
                    <div id="region-main" class="col-12 h-full flex items-center justify-center">
                        <div class="login-wrapper w-full">

                            <main class="login-container bg-white p-10 shadow-lg rounded-xl border border-gray-200 flex flex-col items-center">
                                
                                <!-- Centered login form -->
                                <div class="w-full flex flex-col items-center justify-center space-y-6">
                                    {{{ output.main_content }}}
                                </div>
                            </main>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{{ output.standard_end_of_body_html }}}

</body>
</html>
