<nav class="navbar bg-base-100 shadow-md px-4">
  <div class="navbar-start">
    <!-- Mobile hamburger -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
             viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2"
             d="M4 6h16M4 12h16M4 18h16"/></svg>
      </div>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        {{#menuitems}}
          <li><a href="{{url}}" class="hover:bg-base-200">{{text}}</a></li>
        {{/menuitems}}
      </ul>
    </div>

    <!-- Brand -->
    <a href="{{siteurl}}" class="btn btn-ghost normal-case text-xl">{{sitename}}</a>
  </div>

  <!-- Desktop menu -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {{#menuitems}}
        <li><a href="{{url}}" class="hover:bg-base-200">{{text}}</a></li>
      {{/menuitems}}
    </ul>
  </div>

  <div class="navbar-end">
    {{#isloggedin}}
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="{{userpictureurl}}" alt="{{username}}">
          </div>
        </label>
        <ul tabindex="0"
            class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li><a href="{{profileurl}}">Profile</a></li>
          <li><a href="{{logouturl}}">Logout</a></li>
        </ul>
      </div>
    {{/isloggedin}}
    {{^isloggedin}}
      <a href="{{loginurl}}" class="btn btn-primary">Login</a>
    {{/isloggedin}}
  </div>
</nav>

{{#js}}
M.util.js_pending('theme_adorsys_theme_v2/sidebar');
require(['theme_adorsys_theme_v2/sidebar'], function(sidebar) {
  sidebar.init('#sidebar', '#sidebarToggle');
  M.util.js_complete('theme_adorsys_theme_v2/sidebar');
});
{{/js}}
