<nav class="navbar-fixed-top" aria-label="{{#str}}sitemenubar, admin{{/str}}">
  <div class="container-fluid">

    <!-- Logo / Site Name -->
    <a href="{{{ config.homeurl }}}" class="navbar-brand">
      {{# output.should_display_navbar_logo }}
        <img src="{{output.get_compact_logo_url}}" class="logo" alt="{{sitename}}">
      {{/ output.should_display_navbar_logo }}
      {{^ output.should_display_navbar_logo }}
        <span>{{{ sitename }}}</span>
      {{/ output.should_display_navbar_logo }}
    </a>

    <!-- Primary menu -->
    {{#primarymoremenu}}
    <div class="primary-navigation">
      {{> core/moremenu}}
    </div>
    {{/primarymoremenu}}

    <!-- Page heading menu -->
    <ul class="page-heading-menu">
      {{{ output.page_heading_menu }}}
    </ul>

    <!-- User navigation -->
    <div id="usernavigation">
      {{# output.search_box }}
        <div class="h-full flex items-center">{{{ output.search_box }}}</div>
        <div class="divider"></div>
      {{/output.search_box}}

      {{#langmenu}}
        {{> theme_adorsys_theme_v2/language_menu }}
        <div class="divider"></div>
      {{/langmenu}}

      {{{ output.navbar_plugin_output }}}

      <div class="usermenu-container" data-region="usermenu">
        {{#usermenu}}
          {{> core/user_menu }}
        {{/usermenu}}
      </div>

      {{{ output.edit_switch }}}
    </div>
  </div>
</nav>

<!-- Spacer -->
<div class="navbar-spacer"></div>
